# Terraform working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Environment variables / secrets
.env
.env.*
!.env.example

# macOS
.DS_Store